NEXT_PUBLIC_SUPABASE_URL="https://bljupjdssjuezjgswpac.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsanVwamRzc2p1ZXpqZ3N3cGFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI1Nzc2NjIsImV4cCI6MjA3ODE1MzY2Mn0.CP_PhV6akSI12ZBelY5hWDV47RG9mVaPgxW-_FPfMew"